.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.container div {
  padding: 20px 0;
}
.preco {
  display: inline-block;
  background: #91fb5d;
  color: #017e01;
  border-radius: 4px;
  padding: 2px 8px;
  margin: 1rem 0;
}
.descR {
  text-align: right;
}
.container button {
  border: none;
  display: inline-block;
  background: #fec63e;
  margin: 30px 0;
  padding: 8px 18px;
  border-radius: 4px;
  cursor: pointer;
}
.container button:hover {
  background: #ffcb51;
}
.load {
  margin: 50px auto;
  width: 40px;
  height: 40px;
  border: solid 10px #cecece;
  border-left-color: transparent;
  border-radius: 50%;
  animation: load 0.5s infinite;
}
@keyframes load {
  to {
    transform: rotate(360deg);
  }
}
