.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.item h2 {
  display: flex;
  align-items: center;
  gap: 4px;
}
.item h2::before {
  content: "";
  transition: 0.3s;
  display: block;
  background-color: #fec63e;
  width: 3px;
  height: 30px;
}
.item:hover h2::before {
  width: 8px;
}
